
body {
    background-color:navy;
    color: white;
    
}

#home {
    width: 200px;
    height: 50px;
    font-size: 24px;
}

#home a {
    text-decoration: none;
    color: black;
}

#reset {
    width: 200px;
    height: 50px;
    font-size: 24px;
}

 header {
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
 }

#buttons {
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 25px;
    color: orange;
    font-family: cursive;
    font-weight: bolder;
    border: 5px solid orange;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#buttons a {
    text-decoration: none;
    color: orange;
}

#buttons:hover {
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange, 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;
    text-shadow: 0 0 5px orange, 0 0 5px orange;
}


#howto {
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 25px;
    color: orange;
    font-family: cursive;
    font-weight: bolder;
    border: 5px solid orange;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
} 

#howto:hover {
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange, 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;
    text-shadow: 0 0 5px orange, 0 0 5px orange;
}

.modal {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modall {
    background-color: white;
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    text-align: center;
    
}

.modal.open {
    opacity: 1;
    pointer-events: auto;

}

#Timer {
    text-align: right;
}

p {
    font-size: 24px;
    color: black;
}

#Score {
    text-align: right;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    min-height: 500px;
    background-color: black;
    border: solid silver 2px;
    
}

.box {
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
    color:black;
    
}

#category {
    background-color: black;
    font-size: 28px;
    font-family: cursive;
    text-align: center;
    color: silver;
    text-decoration: underline;
    font-weight: bolder;
    border: solid silver 2px;
    
}

#header {
    font-size: 65px;
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    
}

#directions {
    color: black;
    text-decoration: underline;
}

#congrats {
    font-size: 36px;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#congratss {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 25px;
    color: orange;
    font-family: cursive;
    font-weight: bolder;
    border: 5px solid orange;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    background-color: navy;
} 

#congratss:hover {
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange, 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;
    text-shadow: 0 0 5px orange, 0 0 5px orange;
}

#congratss a {
    text-decoration: none;
    color: orange;
}